# Suppress ansible-lint var-naming warning for third-party role variables
# noqa: var-naming[no-role-prefix]
- name: Force password change on first login
  ansible.builtin.command: "chage -d 0 {{ item.username }}"
  loop: "{{ users_add_userlist | default([]) }}"
  register: chage_output  # This will register the output of the command to a variable
  changed_when: "'Password aging updated' in chage_output.stdout"
